body {
  font-size: 14px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family sans-serif;
  font-size: 2em;
}
/*Though the original selector was typed as 'example h3', this particular styler
doesn't affect any elements, unless selector is altered*/

h3.example {
  padding-top: 30px;
  text-align center
}

h3 {
  font-size: 1.3em;
}

/* The following styles apply to the div elements, including the last three */

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;

}

.change {
  background-color: red;
}
